body{
    background-color: black;
    color: white;
}
input{
    position: relative;
    
    width: 100%;
    height: 20%;
    /* vertical-align: top; */
}
#input{
    position: absolute;
    top: 50%;
}